# Compiled Object files
*.slo
*.lo
*.o
*.bin
*.app
/bin/*
.ccache/*

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
nufd_tests/lib/*
*.lai
*.la
*.a

# Clion
.idea/*

# gtest
tests/gtest-1.7.0/

# temp files
*.swp
*~
